<script>
    import Logo from '$lib/ui/components/Logo.svelte';
    import Menu from '$lib/ui/components/Menu.svelte';
</script>

<main>
    <Menu />
    <section class="content">
        <Logo />
        <br/>
    </section>
</main>

<style>
    :global(body) {
        margin: 0;
        padding: 0;
    }
    main {
        display: grid;
        grid-template: "nav content" min-content
    }
    .content {
        grid-area: content;
    }
</style>
