<script>
    import LogoImage from '$lib/ui/components/LogoImage.svelte';
    let title = "nullcoded"
</script>


<div class="container">
    <div class="text">
        <p>{title}</p>
    </div>
    <div class="image">
        <LogoImage/>
    </div>
</div>

<style>
    p {
        position:relative;
        color: black;
        font-size:5em;
        font-family: "Noto Sans", "Courier", monospace;
        left: 400px
    }
</style>
