<script>
  let src = "/images/hatguy_annotated.png"
  let alt = "nullcoded logo"
</script>

<img {src} alt="{alt}" />

<style>
img {
    position:relative;
    width: 800px;
    left: 200px;
}
</style>
