<script>
    import { fade } from 'svelte/transition';

    const fadeIn = {
        delay: 100,
        duration: 200
    };

    const fadeOut = {
        delay: 0,
        duration: 100
    };

  const src = "/images/menu_icon.png"

    let isExpanded = false;
</script>

<nav class:expanded={isExpanded}>
    <button on:click={() => (isExpanded = !isExpanded)}>
    <img class=menu {src} alt="menu"/>
    {#if isExpanded} 
      <span  in:fade={fadeIn} out:fade={fadeOut}><a class:menu_title={true} href="/">nullcoded</a></span>
    {/if}
    </button>
    <ul>
        <li>
            <img class=about src="/images/rocket.png" alt="rocket"/> {#if isExpanded}
      <span in:fade={fadeIn} out:fade={fadeOut}><a class="about" href="/about">About</a></span>{/if}
        </li>
    {#if false}
        <li>
            &#128640;
            {#if isExpanded}
                <span in:fade={fadeIn} out:fade={fadeOut}><a href="/about">About</a></span>
            {/if}
        </li>
    {/if}
    </ul>
    {#if isExpanded}
        <section in:fade={fadeIn} out:fade={fadeOut}>
            <hr />
            <ul>
        <img class=gear src="/images/gear.png" alt="gear"/>
        <h3><a href="/projects">projects</a></h3>
        <li><a href="https://gitlab.com/nullcoded/temperature-sensor">Temperature Sensor</a></li>
        <li><a href="https://gitlab.com/nullcoded/senack">senack</a></li>
        <li><a href="https://gitlab.com/nullcoded/web">web</a></li>
            </ul>
        </section>
    {/if}
</nav>

<style>
  img.menu {
    width: 45px;
    margin-left: 2px;
    margin-top: 10px;
  }
  img.about {
    width: 25px;
    margin-left: 2px;
    margin-top: 10px;
    float:left
  }
  img.gear {
    width: 30px;
    margin-left: 2px;
    margin-top: 10px;
    float:left
  }
  button {
    display: flex;
    justify-content: center
  }
    nav {
        position: fixed;
        grid-area: nav;
        height: 800vw;
        background-color: #000000;
        color: #ffffff;
        transition: ease-out 200ms;
        width: 60px;
        overflow: hidden;
    }

    .expanded {
        transition: ease-out 200ms;
        width: 200px;
    }

    ul {
        list-style: none;
        padding: 20px;
        margin: 0;
    }

    li {
        width: 200px;
    }

    h3 {
        text-transform: lowercase;
        margin: 0;
        padding: 10px 0;
    font-family: "Noto Sans", "Courier", monospace
    }

    hr {
        color: white;
        width: 80%;
    }

    button {
        border: none;
        background: none;
        color: #ffffff;
        text-transform: uppercase;
    }

  a {
    color: #ffffff;
    font-family: "Noto Sans", "Courier", monospace;
        text-transform: lowercase;
    text-decoration: none;
  }
  a.menu_title {
    position: relative;
    top: 17px;
        margin: 10px;
        padding: 10px 10;
        font-size:1.5em;
    font-family: "Noto Sans", "Courier", monospace;
    font-weight: bold;
  }
  a.about {
    position: relative;
    top: 10px;
        margin-left: 10px;
        padding: 0px 0px;
    font-family: "Noto Sans", "Courier", monospace;
  }
  a:visited {
    color: #aaaaaa
  }
  a:hover {
    color: #ffaaaa
  }
  a:active {
    color: #ff1010
  }

</style>
