<script>
    import Menu from '$lib/ui/components/Menu.svelte';
</script>

<main>
    <Menu />
    <section class="content">
        <br/>
        
        <div class=title ><img class=gear src="/images/gear.png" alt="gear"/>projects</div>
        <br/>
        <p><a href="https://gitlab.com/nullcoded/temperature-sensor">Temperature Sensor</a></p>
        <p>Pico-w project to take temperature readings and push them to a server</p>
        <br/>
        <p><a href="https://gitlab.com/nullcoded/senack">senack</a></p>
        <p>A server project to take sensor readings and generate reports</p>
        <br/>
        <p><a href="https://gitlab.com/nullcoded/web">web</a></p>
        <p>This very website!</p>
        <br/>
    </section>
</main>

<style>
    :global(body) {
        margin: 0;
        padding: 0;
    }
    main {
        display: grid;
        grid-template: "nav content" min-content
    }
    .content {
        grid-area: content;
    }
    .title {
        position:relative;
        color: black;
        font-size:5em;
        font-family: "Noto Sans", "Courier", monospace;
        left: 0px
    }
    img {
        width: 200px;
    }
  a {
    font-family: "Noto Sans", "Courier", monospace;
  }
  a:visited {
    color: #000000
  }
  a:hover {
    color: #ffaaaa
  }
  a:active {
    color: #001010
  }
</style>
