<script>
    import Menu from '$lib/ui/components/Menu.svelte';
</script>

<main>
    <Menu />
    <section class="content">
        <br/>
        <p class=title ><img class=gear src="/images/rocket.png" alt="rocket"/>about</p>
        <p>Welcome to nullcode</p>
        <p>A project developed by Raul Jimenez, a Software Engineer in the Medical industry most at home on emebedded devices running linux. This is a home for all my personal projects.</p>
        <br/>
        <p>As a dilitant to the web development world please forgive any rough edges to the site which will be a work in progress for the forseeable future.<p/>
        <img class=gear src="/images/construction_icon.png" alt="rocket"/>
    </section>
</main>

<style>
    :global(body) {
        margin: 0;
        padding: 0;
    }
    main {
        display: grid;
        grid-template: "nav content" min-content
    }
    .content {
        grid-area: content;
    }
    .title {
        position:relative;
        color: black;
        font-size:5em;
        font-family: "Noto Sans", "Courier", monospace;
        left: 0px
    }
    img {
        width: 200px;
    }
</style>
